/* dont use too many colors and fonts */
/* keep the font black and the font size reasonably large. */
/* background should be either white or very faint color. */
/* no fancy fonts */





* {
    margin: 0;
}


/* Use this color: #2ADB9B  and this color #1e2f2f */

body, html {
    background-color: #373F47 ;
    color: #FBFBEE;
    height: 100%;
}


.column {
    width: 48%;
    padding: 1%;
    float: left;
}

.row::after {
    clear: both;
    content: "";
    display: table;
}

.threecols{
    border: 4px solid red;
    width: 100%;
}



#buttonone {
    background-color: #f6bccd;
}

#buttontwo {
    background-color: #f08fac;
}
#buttonthree {
    background-color: #ea628b;
}
#buttonfour {
    background-color: #e33569;
}
#buttonfive {
    background-color: #ca1c50;
}
#buttonsix {
    background-color: #9d153e;
}

button {
    margin-right: 20%;
    margin-left: 20%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-self: center;
    color: white;
    font-size: 22px;
    border-radius: 12px;
}
.parallax {
    background-image: url("https://images.unsplash.com/photo-1534996858221-380b92700493?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    font-size: 50px ;
    color:#e6ffe6;
    font-family: 'Arima Madurai', cursive;
  }

#cars {
    background-image: url("https://images.unsplash.com/photo-1480790846976-3aeb0c976d71?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NjZ8fGNhcnN8ZW58MHwwfDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60");
} 
#cows {
    background-image: url("https://images.unsplash.com/photo-1507103011901-e954d6ec0988?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
}
#thermostat {
    background-image: url("https://images.unsplash.com/photo-1545259742-b4fd8fea67e4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80") ;
}
#electricity {
    background-image: url("https://images.unsplash.com/photo-1440595228939-3673bdb622b4?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTJ8fGVsZWN0cmljaXR5fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60")
}
#tree {
    background-image: url("https://images.unsplash.com/reserve/bOvf94dPRxWu0u3QsPjF_tree.jpg?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1055&q=80");
}
#solar {
    background-image: url("https://images.unsplash.com/photo-1497440001374-f26997328c1b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8NHwxMTMyODgxfHxlbnwwfHx8&auto=format&fit=crop&w=500&q=60");
}

.four {
    min-height: 50%;
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
    background-size: cover;
    font-size: 50px;
}

mark {
    background-color: #373F47 ;
    color: #fbfbee ;
    opacity: 0.8;
}

#sources {
margin-left: 5%;
margin-right: 5%;
font-size: 12px;

}

ul {
    font-size: 20px ;
} 


#col {
      float: left;
      width: 27%;
      margin-left: 1%;
      margin-right: 1%;
  }

  #q1 {
      margin-left: 10%;
  }

  #question {
      text-align: center;
      
  }

/* CSS HEX
--charcoal: #373f47ff;
--ivory: #fbfbeeff;
--blush: #ea638cff;
--cornflower-blue: #7f95d1ff;*/