* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Use this color: #2ADB9B  and this color #1e2f2f */

body, html {
    background-color: #373F47 ;
    color: #FBFBEE;
    height: 100%;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

.parallax {
    background-image: url("https://images.unsplash.com/photo-1534996858221-380b92700493?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    font-size: 50px ;
    color:#e6ffe6;
    font-family: 'Arima Madurai', cursive;
  }

.center1 {
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topparent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    }
    
.div6 { 
    grid-area: 1 / 1 / 2 / 2; 
    padding-left: 20px;
    }

.div7 { 
    grid-area: 1 / 2 / 2 / 3; 
    padding-left: 20px;
}

.div8 {
    grid-area: 1 / 3 / 2 / 4;
    padding-left: 50px;
    padding-top: 0px;
}


.divimg{
    max-width: 100%;
    max-height: 100%;
    display: block; 
 }


  .parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    }
    
    .div1 { 
        grid-area: 1 / 2 / 2 / 3;
    }
    .div2 { grid-area: 1 / 3 / 2 / 4; }
    .div3 { grid-area: 2 / 2 / 3 / 3; }
    .div4 { grid-area: 2 / 3 / 3 / 4; }
    .div5 { 
        grid-area: 1 / 1 / 3 / 2; 
        padding-top: 20px;
        padding-right: 10px;
        padding-left: 20px;
        line-height: 2;
    }

    

#buttonone {
    background-color: #f6bccd;
    margin-bottom: 20px;
}

#buttontwo {
    background-color: #f08fac;
    margin-bottom: 20px;
}
#buttonthree {
    background-color: #ea628b;
    margin-bottom: 20px;
}
#buttonfour {
    background-color: #e33569;
    margin-bottom: 20px;
}
#buttonfive {
    background-color: #ca1c50;
    margin-bottom: 20px;
}
#buttonsix {
    background-color: #9d153e;
    margin-bottom: 20px;
}

button {
    margin-right: 30%;
    margin-left: 30%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-self: center;
    font-size: 22px;
    border-radius: 12px;
    color: #FBFBEE;
}

#cars {
    background-image: url("https://images.unsplash.com/photo-1480790846976-3aeb0c976d71?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NjZ8fGNhcnN8ZW58MHwwfDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60");
    height: 60vh;
    width: 100%;
} 
#cows {
    background-image: url("https://images.unsplash.com/photo-1507103011901-e954d6ec0988?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    height: 60vh;
    width: 100%;
}
#thermostat {
    background-image: url("https://images.unsplash.com/photo-1545259742-b4fd8fea67e4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80") ;
    height: 60vh;
    width: 100%;
}
#electricity {
    background-image: url("https://images.unsplash.com/photo-1440595228939-3673bdb622b4?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTJ8fGVsZWN0cmljaXR5fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    height: 60vh;
    width: 100%;
}
#tree {
    background-image: url("https://images.unsplash.com/reserve/bOvf94dPRxWu0u3QsPjF_tree.jpg?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1055&q=80");
    height: 60vh;
    width: 100%;
}
#solar {
    background-image: url("https://images.unsplash.com/photo-1497440001374-f26997328c1b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8NHwxMTMyODgxfHxlbnwwfHx8&auto=format&fit=crop&w=500&q=60");
    height: 60vh;
    width: 100%;
}

.four {
    min-height: 50%;
    background-repeat: no-repeat;
    text-align: left;
    background-position: center;
    background-size: cover;
    font-size: 50px;
}

mark {
    background-color: #373F47 ;
    background-color: #333333 ;
    color: #fbfbee ;
    opacity: 0.8;
}

#sources {
margin-left: 2%;
margin-right: 2%;
font-size: 15px;
line-height: 2;
margin-top: 50px;
margin-bottom: 50px;

}


.question {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
  }



